@charset "UTF-8";

body{
    background-image: radial-gradient(circle, rgb(186, 247, 247), rgb(81, 81, 252));
    font-family: Arial, Helvetica, sans-serif;
}

.HTML {
    color: #db5828;
    font-weight: bold;
}

.CSS {
    color:#1438af;
    font-weight: bold;
}

main{
    background-color: white;
    width: 600px, auto;
    padding: 10px;
    margin: auto;
    border-radius: 1em;
    border-bottom: 1em, black;
}

h1#principal{
    text-align: center;
    background-color: #ffaa83;
}

p{
    
    text-align: justify;
    text-indent: 20px;
}

h1{
    color: rgb(4, 110, 75);
    background-color: rgb(166, 213, 255);
}

h2 {
     color: rgb(7, 199, 135);
}

