@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
}

body{
    background-color: rgba(174, 238, 174, 0.596);
}

main{
    background-color: rgb(62, 182, 58);
    margin: auto;
    max-width: 800px;
    height: 500px;
}

header{
    background-image: url(images/favicon.png);
    background-color: rgb(123, 206, 127);
    color: rgb(230, 230, 230);
    text-shadow: 3px 3px 5px black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-variant: small-caps;
}


main > button{
    background-image: url(images/favicon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: gray;
    display: inline-block;
}