@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

body { 
    background-color: #46300081;
}

main {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    
}


a {
    color: #0004ff;
    font-weight: bolder;
    font-size: larger;
}

h1 {
    color: #a37001;
}

h2 {
    color: #023ba3;
}