a{
    color: red;
    font: normal bold 1.5em sans-serif ;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: rgb(187, 6, 6);
}

a:active{
    color: black;
}

a::after{
    content: ' [link]';
    font-size: small;
    color: rgb(184, 134, 134);
}
