div {
    display: inline-block;
    background-color: whitesmoke;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    text-align: center;
}

.assentos:hover {
    background-color: green;
    height: 250px;
    width: 250px;
}
