body{
    font: normal 400 1em Arial, sans-serif;
    background-color: bisque;
    margin: 0px;
}

/*HEADERS*/
header{
    background-color: #ffffff;
    margin: 10px;
    padding: 5px;
    border: 3px solid black;
    box-shadow: 2px 2px 20px black;
}
header > h1{
    background-color: rgba(128, 128, 128, 0.493);
    border: 1px solid black;
    text-align: center;
    font: normal bold 2em 'Times New Roman', Times, serif;
}
header > nav{
    background: center;
    background-color: white;
    border: 3px solid black;
}

li > a:hover {
    background-color: rgba(0, 0, 0, 0.26);
    box-shadow: inset 0.5px 0.5px 10px rgba(0, 0, 0, 0.151);
}

/*MAINS*/
main{
    margin: 5px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.281);
    border: 3px solid rgb(0, 0, 0)
}
main > h1{
    border: 3px solid black;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.562);
}
main > aside{
    width: -1px;
    text-align: right;
} 

/*SECTIONS*/
section{
    background-color: white;
    border: 3px solid black;
    box-shadow: 2px 2px 12px black;
    margin: 5px 10px;
    margin-right: 30em;
    padding: 10px;
}

/*ARTICLES*/
article{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
}

/*ASIDES*/
aside{
    border: 1px solid black;
    box-shadow: 1px 1px 8px black;
}

/*CLASSES*/
.center{
    text-align: center;
    background-color: white;
    margin: 10px;
}

/*OUTROS*/
footer{
    margin: 10px auto;
    background-color: black;
    color: white;
    text-align: center;
    font: normal bolder 1.2em Arial;
}
