@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --font01: 'Verdana, Geneva, Tahoma, sans-serif';
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}


html, body{
    font-family: var(--font01);
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-size: 8vw;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font02);
}

header > p{
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer:hover{
    text-decoration: underline;
}

section{
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.555);
    font-size: 3vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section pre{
    font-family: var(--font03);
    white-space: pre-line;
}

section.normal{
    background-color: white;
    color: rgb(0, 0, 0);
}

section.imagem {
    box-shadow: inset 6px 6px 13px black;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

section.imagem pre{
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.295);
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.486);
}

section#img01{
    background-image: url(imagens/background001.jpg);
}

section#img02{
    background-image: url(imagens/background002.jpg);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

