@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

/* HEADER */
header{
    padding: 50px;
    background-color: black;
}

header > h1{
    font-family: 'Passion One', sans-serif;
    font-variant: small-caps;
    margin-bottom: 0px;
    font-size: 3.2em;
    color: white;
    text-align: center;
}


header > p{
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.863);
    font-size: 0.8em;
    text-align: center;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

/* Sections */

section{
    font: italic bold 1.3em var(--fonte3);
    line-height: 40px;
    text-align: left;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0, 0.473);
    height: 300px ;
}
 
section.imagem > p{
    display: inline-block;
    
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.226);
    text-shadow: 1px 1px 0px black;
    color: white;
}

section#img01{
    background-image: url("imagens/background001.jpg");
}

section#img02{
    background-image: url("imagens/background002.jpg");
}

/* Footer */

footer{
    padding: 10px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
