@charset "UTF-8";

body{
    background-image: url('../images/wallpaper001.jpg');
}

div.quadrado{
    display: inline-block;
    background-color: rgb(83, 83, 219);
    border-radius: 10px;
    border: 2px solid black;
    width: 300px;
    height: 300px;
}

div#q1{
    background-color: aquamarine;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, orange);
}

div#q3{
    background-image: url('../images/pattern003.png');
}