@charset "UTF-8";

main{
    margin: auto;
    background-color: antiquewhite;
}

main > h1{
    text-align: center;
    padding: 10px;
}

main > p{
    text-align: left;
}

picture{
    display: flex;
    justify-content: center;
    border: 2px solid black;
}